main {
    font-family: 'Roboto', sans-serif;
    margin-top: 200px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    border: 2px solid black;
}

.calculator {
    padding: 25px;
    display: flex;
    flex-direction: column
}

.screen {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: end;
    background-color: azure;
    height: 110px;
    border-radius: 10px;
    border: 2px solid black;
}

.screenTop {
    font-size: 20px;
    padding: 15px;
}

.screenBottom {
    font-size: 35px;
    padding: 10px;
}

.buttons,
.clearDeleteBtn {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    font-size: 15px;
}

.number,
.clear,
.delete,
.operator,
.equals,
.decimal {
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 22px;
}

.clearDeleteBtn {
   grid-template-columns: repeat(2, 1fr);
}

.clear {
    background-color: rgb(130, 161, 251);
}

.delete {
    background-color: rgb(252, 145, 145);
}

.operator,
.equals {
    background-color: rgb(253, 202, 108);
}